<div class="card mt-4 text-center">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Numquam molestias
            iusto aperiam enim autem, placeat
            reprehenderit harum. Ab reiciendis
            corporis earum rerum illum quos
            temporibus, magnam at aliquam
            aspernatur, sit omnis adipisci
            consequatur cupiditate nulla
            voluptates totam harum rem? Accusantium?</p>
    </div>
</div>